@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes year-animation {
  0% {
    /* background-color: #333333; */
    color: #87CEFA;
  }
  25% {
    /* background-color: #FFFFE6; */
    color: #CCCCCC;
  }
  50% {
    /* background-color: #FFFFE6; */
    color: #FFA86E;
  }
  75% {
    /* background-color: #FFFFE6; */
    color: #FFFFFF;
  }
  100% {
    /* background-color: #333333; */
    color: #87CEFA;
  }
}

.year {
  animation-name: year-animation;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out; 
}
@keyframes ut-animation {
  0% {
    background-color: #BF5700;
    color: #FFFFFF;
  }
  50% {
    background-color: #FFFFFF;
    color: #BF5700;
  }
  100% {
    background-color: #BF5700;
    color: #FFFFFF;
  }
}
.ut-animate {
  animation-name: ut-animation;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-timing-function: ease-in-out; 
}



.mobile-linkedin {
  --tw-bg-opacity: 1;
  color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.mobile-github {
  color: #333333;
}

.mobile-contact {
  color: #a18fd8;
}

.mobile-resume {
  color: #6fc2b0;
}

/* .navbar-btns {
  transition: all 0.3s ease-in-out;
} */

.navbar-btns:hover {
  font-weight: 500;
}

.title-name {
  font-family: 'Poiret One', cursive;
}

.cns-edu-title {
  font-family: 'Share Tech', sans-serif;

}

.tiers-font {
  font-family: 'Bungee Shade', cursive;
}

.ut-font {
  font-family: 'Libre Baskerville', serif;
}
.parallelogram-top {
  background-color: #CCCCCC;
  /* width: 800px; */
  /* height: 85px; */
  transform: skewX(20deg);
}

.parallelogram-top h2 {
  transform: skewX(-20deg);
}

.parallelogram-btm {
  background-color: #333333 !important;
  /* width: 750px;
  height: 85px; */
  transform: skewX(-20deg);
}


.parallelogram-btm p {
  transform: skewX(20deg);
}

.reveal-name:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: reveal-animation 3s ease-in-out;
}

@keyframes reveal-animation {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}

.hover-tier2:hover p {
  border-color: #333333;
}

.home-about-spacer {
  aspect-ratio: 1512/300;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-about-layer {
  background-image: url('./assets/layer-transitions/layers.svg');
}

.blob-motion {
  position: absolute;
  transform: translateY(-60%) translateX(-15%);
}

.blob-motion2 {
  position: absolute;
  transform: translateY(-70%) translateX(-23%);
}

.blob-motion3 {
  position: absolute;
  transform: translateY(-80%) translateX(-12%);
}

.blob-motion4 {
  position: absolute;
  transform: translateY(-75%) translateX(-10%);
}

/* .about-edu-spacer {
  aspect-ratio: 1512/300;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-edu-layer {
  background-image: url('./assets/layer-transitions/layers2.svg');
} */

.edu-exper-spacer {
  aspect-ratio: 1512/300;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.edu-exper-layer {
  background-image: url('./assets/layer-transitions/layers3.svg');
}
#bitsila-text {

  opacity: 0;
  display: hidden;
  transition: opacity 0.1s ease-in-out;
}

#tech-stack {
  transition: margin-top 0.3s ease-in-out;
}

#bitsila-text.show {
  /** w-[450px] h-[fit-content]  */
  display: block;
  opacity: 1;
}

#bitsila-div:hover #tap-read {
  font-weight: 700;
  transition-duration: 500ms;
}

#particles-div {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.email-highlight h1 {
  color: white;
}

.email-highlight HiOutlineMail {
  color: white;
}

.email-highlight:hover h1 {
  color: #cccccc;
}

.email-highlight:hover #mail {
  color: #989898;
}

.linkedin-highlight h1 {
  color: white;
}

.linkedin-highlight:hover h1 {
  color: #87CEFA;
}

.linkedin-highlight:hover #linkedIn {
  color: rgb(37 99 235);
}

.file-highlight h1 {
  color: white;
}

.file-highlight:hover h1 {
  color: #F7760E;
}

.file-highlight:hover #file {
  color: #F7760E;
}
.exper-prjs-spacer {
  aspect-ratio: 1512/300;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.exper-prjs-layer {
  background-image: url('./assets/layer-transitions/layers6.svg');
}
@layer base {
  body {
    @apply font-[Raleway];
    font-weight: 200;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
