@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.glitch-effect {
  position: relative;
  display: inline-block;
}

.glitch-text {
  font-size: 4rem;
  color: #ff4c52; /* Set the desired text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Set the desired text shadow */
  animation: glitch-animation 2s infinite;
}

@keyframes glitch-animation {
  0% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  20% {
    text-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8);
  }
  40% {
    text-shadow: 2px -2px 4px rgba(255, 255, 255, 0.8);
  }
  60% {
    text-shadow: -2px 2px 4px rgba(255, 255, 255, 0.8);
  }
  80% {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.mobile-linkedin {
  --tw-bg-opacity: 1;
  color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.mobile-github {
  color: #333333;
}

.mobile-contact {
  color: #a18fd8;
}

.mobile-resume {
  color: #6fc2b0;
}

/* .navbar-btns {
  transition: all 0.3s ease-in-out;
} */

.navbar-btns:hover {
  font-weight: 500;
}

.title-name {
  font-family: 'Poiret One', cursive;
}

.cns-edu-title {
  font-family: 'Share Tech', sans-serif;

}
.parallelogram-top {
  background-color: #FFA86E;
  /* width: 800px; */
  /* height: 85px; */
  transform: skewX(20deg);
}

.parallelogram-top h2 {
  transform: skewX(-20deg);
}

.parallelogram-btm {
  background-color: #333333 !important;
  /* width: 750px;
  height: 85px; */
  transform: skewX(-20deg);
}

.parallelogram-btm p {
  transform: skewX(20deg);
}

.reveal-name:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: reveal-animation 3s ease-in-out;
}

@keyframes reveal-animation {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}

.home-about-spacer {
  aspect-ratio: 1512/250;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-about-layer {
  background-image: url('./assets/layers.svg');
}

.about-edu-spacer {
  aspect-ratio: 1512/250;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-edu-layer {
  background-image: url('./assets/layers2.svg');
}

.edu-exper-spacer {
  aspect-ratio: 1512/250;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.edu-exper-layer {
  background-image: url('./assets/layers3.svg');
}
@layer base {
  body {
    @apply font-[Raleway];
    font-weight: 200;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
